:root{
    /* */
    --color1: hsl(180, 25%, 65%);
    --color2: hsla(180, 35%, 45%, 1);
    --color3: hsla(180, 45%, 25%, 1);

    --words-color1: whitesmoke;

    --words-color2: whitesmoke;
    --heading-font: "Chewy", cursive;
    --text-font: "Quicksand", sans-serif;
    
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}
html {
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
    background: repeating-linear-gradient(
        to bottom right, 
        hsl(180, 100%, 30%) 0 20px, 
        hsl(180, 80%, 50%) 20px 40px, 
        hsl(180, 60%, 70%) 40px 60px
    ) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    backdrop-filter: opacity(70%);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 5px;

    position: sticky;
    top: 0;
    z-index: 1000;
    border: 2px solid var(--words-color2);
    border-radius: 0 0 10px 10px;
    background: radial-gradient(
        circle at bottom right, 
        var(--color1), 
        var(--color2), 
        var(--color3)
    );
    /* border: 2px solid; */
}
.logo-link,
#header-end a {
  height: calc(10vh - 10px);
  display: flex;
  align-items: center;
}

.logo-link img,
#header-end img {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
  filter: brightness(0) invert(1);
  /* CSS filters for changing <img> colros which cannot be done randomly --
  
  filter: brightness(0) saturate(100%) invert(72%) sepia(20%) saturate(1200%) hue-rotate(130deg) brightness(90%) contrast(90%);
  */
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#navbar a {
    text-decoration: none;
    color: var(--words-color1);
    font-size: 2rem;
    margin: 5px;
    font-style: italic;
    font-weight: 600;
}
#title {
    text-align: center;
    margin: 50px 20px;
    padding: 150px;
    font-size: 4rem;
    background: radial-gradient(
        circle at bottom right, 
        var(--color1), 
        var(--color2), 
        var(--color3)
    );
    border-radius: 20px;
    color: var(--words-color1);
    border: 2px solid var(--words-color2);
}
#proj {
    font-size: 3rem;
    text-align: center;
}
#projects {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}
.rows {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.project-container {
    background: radial-gradient(
        circle at bottom right, 
        var(--color1), 
        var(--color2), 
        var(--color3)
    );
    border: 2px solid var(--words-color2);
    border-radius: 15px;
    flex-shrink: 1;
}
.project-container a{
    text-decoration: none;
}
.project-img {
    height: 200px;
    width: 355px;
    border-radius: 15px;
    margin: 15px;
    border: 2px solid transparent;
    border-image: linear-gradient(var(--color3), var(--color1));
}
.project-container p {
    font-weight: bold;
}
.project-name {
    text-align: center;
    margin: 10px auto;
}

/* -------------------------------------------*/
/* Mobile View Styles */
@media only screen and (max-width: 480px) {
  
}