@import url("./fonts/fonts.css");


:root {
    --primary-color: #FFCB2E;
    --primary-color-bold: #A37A00;
    --primary-color-soft: #FFEDB8;


    --secondary-colour: #C3CC70;
    --secondary-colour-bold: #70782B;
    --secondary-colour-soft: #DAE0A9;


    --accent-color: #DE3121;
    --accent-color-bold: #66160F;
    --accent-color-soft: #F0A099;


    --serif-font: "IowanOldSt BT", Georgia, serif;
    --sans-font: "Source Sans 3", Arial, sans-serif;
    --display-font: "DynaPuff", cursive;
}
