:root{
    /* */
    --primary-color: #FFCB2E;
    --primary-color-bold: #A37A00;
    --primary-color-soft: #FFEDB8;

    --secondary-colour: #C3CC70;
    --secondary-colour-bold: #70782B;
    --secondary-colour-soft: #DAE0A9;

    --accent-color: #DE3121;
    --accent-color-bold: #66160F;
    --accent-color-soft: #F0A099;

    
    --heading-font: "DM Serif Display", cursive;
    --text-font: "Quicksand", sans-serif;
    
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}
html {
    min-height: 100%;
    scroll-behavior: smooth;
    font-size: 75%;
}
body {
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    backdrop-filter: opacity(70%);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 5px;

    position: sticky;
    top: 0;
    z-index: 1000;
    border: 2px solid var(--accent-color-bold);
    border-radius: 0 0 10px 10px;
    background-color: var(--primary-color-bold);
    /* border: 2px solid; */
}
.logo-link,
#header-end a {
  height: calc(10vh - 10px);
  display: flex;
  align-items: center;
}

.logo-link img,
#header-end img {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
  border-radius: 50%;
  /* CSS filters for changing <img> colros which cannot be done randomly --
  
  filter: brightness(0) saturate(100%) invert(72%) sepia(20%) saturate(1200%) hue-rotate(130deg) brightness(90%) contrast(90%);
  */
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#navbar a {
    text-decoration: none;
    color: var(--words-color1);
    font-size: 3rem;
    margin: 5px;
    font-style: italic;
    font-weight: 600;
}
#intro {
    margin: 20px ;
    padding: 10px;
    min-height: 40vh;
    max-width: 100%;
    max-height: 60vh;
    font-size: 2rem;
    background: radial-gradient(
        circle at bottom right,  
        var(--secondary-colour), 
        var(--secondary-colour-bold)
    );
    border-radius: 20px;
    color: var(--words-color1);
    border: 2px solid var(--accent-color-bold);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#bio {
    text-align: center;
    font-size: 3rem;
}
#description {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
}
#bio a {
    text-decoration: none;
    color: var(--accent-color-bold);
    background-color: wheat;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid var(--accent-color-bold);
}
#bio a:hover {
    transform: translateX(5px);
    background-color: var(--accent-color);
    color: white;
}
#cta {
    text-align: center;
    font-size: 3rem;
    animation: slide-in ease-in-out 5s;
}
@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        color: var(--color3);
    }

    25% {
        transform: translateX(100%);
        opacity: 1;
        color: var(--color3);
    }

    50% {
        transform: translateX(0%);
        opacity: 0;
        color: var(--color3);
    }

    75% {
        transform: translateY(-100%);
        opacity: 1;
        color: var(--color3);
    }

    100% {
        transform: translateY(0%);
        opacity: 0;
        color: var(--color3);
    }
}
/*--------------------*/
#proj {
    font-size: 3rem;
    text-align: center;
}
#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    padding: 10px;
}
.project-container {
    background: radial-gradient(
        circle at bottom right, 
        var(--secondary-colour-soft), 
        var(--secondary-colour) 10%, 
        var(--secondary-colour-bold)
    );
    border: 2px solid var(--accent-color-bold);
    border-radius: 15px;
    padding: 15px;
}
.project-container a{
    text-decoration: none;
    color: black
}
.project-container:hover{ 
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 5px black;
}
.project-img {
    height: auto;
    width: 100%;
    border-radius: 15px;
    border: 2px solid var(--accent-color-bold);
   /* border-image: linear-gradient(var(--secondary-colour-soft), var(--secondary-colour));*/
}
.project-container p {
    font-weight: bold;
}
.project-name {
    text-align: center;
    margin: 10px auto;
    font-size: 1.5rem;
}

/* -------------------------------------------*/
/* Mobile View Styles */
@media only screen and (max-width: 480px) {
    html {
        font-size: 55%;
    }
    #intro {
        font-size: 2rem;
        margin: 5px;
        max-width: 100%;
        overflow: scroll;
        scrollbar-width: 20px;
    }
    .project-name {
    margin: 10px auto;
    font-size: 1.9rem;
    }
}