/* Mobile first */

/*
html {
    font-size: 75%;
}*/
:root {
    --border-rad: 15px;
}
* {
    box-sizing: border-box;
    font-family: "Quicksand";
}
body {
    background: linear-gradient(
        45deg,
        hsl(50, 30%, 70%),
        hsl(50, 50%, 50%),
        hsl(50, 70%, 30%)
    );
    background-repeat: repeat;
    background-attachment: fixed;
    
}
h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
    font-style: italic;
    font-family: "Chewy";
}
#pallete {
    background-color: hsla(123, 20%, 80%, 0.9);
    max-width: 95vw;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 25px;
}
#placeholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}
#placeholder-text {
    flex: 3;
    text-align: center;
    font-size: 1.9rem;
    animation: shake-up 1s ease-in infinite;
}
#placeholder-btn-icon {
    flex: 1;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}


/*-----------------*/
#calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    border: 1px solid #6750CE;
    border-radius: 25px;
}
#calendar-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#month-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px 5px;
    font-weight: bolder;
}

#weekdays {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.weekday {
    border: 1px solid black;
    border-radius: 5px;;
    padding: 10px;
    background-color: #CE50B7;
    color: black;
    filter: sepia(80%) grayscale(80%) brightness(100%);
}
#calendar-bottom {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    /*border: 1px solid;*/
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.date {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.date.filled {
    background-color: #CE50B7;
    color: black;
    filter: sepia(80%) grayscale(80%) brightness(100%);
}
.date.empty {
    color: #6750CE;
    background-color: #CE6750;
}
#today {
    animation: up-and-down 1s linear infinite;
    background: radial-gradient(
        circle at top right,
        yellow,
        green
    );
    box-shadow: 5px 5px 5px #6750CE;
}
.ref-cta {
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(0, 0%, 12%);
    border-radius: var(--border-rad);
    text-align: center;
    width: 230px;
    padding: 15px;
    margin: 15px auto;

    box-shadow: 0 0 10px hsl(0, 0%, 12%),
                0 0 25px hsl(0, 0%, 12%);
}
@keyframes up-and-down {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-25%) scale(1.5);
        z-index: 1000;
    }
    75% {
        transform: translateY(25%) scale(1.5);
        z-index: 1000;
    }
}
@keyframes shake-up {
    0%,50%, 100% {
        transform: rotate();    
    }
    20% {
        transform: translateX(15px);
    }
    40% {
        transform: translateX(30px);
    } 
    60% {
        transform: translateX(-15px);
    }
    80% {
        transform: translateX(-30px);
    }
}
@media screen and (min-width: 768px) {
    #pallete {
        max-width: 60vw;
    }
}