:root {
    --border-rad: 15px;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid hsl(0, 0%, 12%);
    width: 45vw;
    margin: 30px auto;
    padding: 15px;
    border-radius: var(--border-rad);
}

.top-row, .mid-row, .bottom-row {
    /* border: 2px solid black;*/
    height: 250px;
    width: 100%;
    border-radius: var(--border-rad);
}
/* Each individual Row */
.top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.mid-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.bottom-row {
    height: 300px;
}

/* Each Individual Card */
/*-------------------------------------*/
.bubble-testimony {
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;

}
.bubble {
    border-radius: var(--border-rad);
    flex: 0.6;
    position: relative;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 95%);
    
}
.bubble > p {
    margin: 10px;
}
.bubble::before {
    content: '';
    position: absolute;
    border-top: 15px solid hsl(0, 0%, 12%);
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 100%;
    left: 10%;
}
.bubble-person {
    border-radius: var(--border-rad);
    flex: 0.4;

    display: flex;
    gap: 5px;
    align-items: center;
    overflow: hidden;
}
.bubble-person > img,
.box-person > img {
    width: 90px;
    height: 90px;
    flex: 0 0 90px;
    object-fit: cover;
    border-radius: 50%;
}
.bubble-person > div,
.box-person > div {
    flex: 1;
    min-width: 0;
}
.bubble-person-name, .box-person-name {
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: "Ink Free";
    font-weight: bold;
}
.bubble-person-role, .box-person-role {
    margin-top: 5px;
    padding-top: 0;
    font-style: italic;
}
/*-------------------------------------*/
.box-testimony {
    height: 100%;
    width: 50%;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 2px solid hsl(0, 0%, 46%);
    border-radius: var(--border-rad);
}
.box {
    border-radius: var(--border-rad);
    flex: 0.5;
    position: relative;
}
.box p {
    margin: 10px;
}
.box-person {
    border-radius: var(--border-rad);
    flex: 0.5;

    display: flex;
    gap: 5px;
    align-items: center;
    overflow: hidden;
}

/*-------------------------------------*/
.single-image {
    height: 100%;
    flex: 1 0 100px;
}
.single-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-rad);
}

/*-------------------------------------*/
.text-only-testimony {
    height: 100%;
    flex: 2;
    padding: 20px;
    background-color: hsl(0, 0%, 12%);
    border-radius: var(--border-rad);
}
/*
.stars {

}
*/
.txt-person-name {
    color: hsl(0, 0%, 95%);
}
.txt-person-role {
    color: hsl(0, 0%, 46%);
    font-style: italic;
}
.txt-comment {
    color: hsl(0, 0%, 95%);
}

.full-width-testimony {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: var(--border-rad);
}
.full-width-testimony > p {
    text-align: center;
    padding: 1.5rem;
    font-weight: 600;
}
.image-fade {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
.image-fade img{
    height: 75px;
    width: 75px;
    border-radius: 50px;
}
.image-fade img:nth-of-type(1),
.image-fade img:nth-of-type(3) {
    filter: brightness(90%) contrast(40%);
    height: 65px;
    width: 65px;
}

.ref-cta {
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(0, 0%, 12%);
    border-radius: var(--border-rad);
    text-align: center;
    width: 230px;
    padding: 15px;
    margin: 15px auto;

    box-shadow: 0 0 10px hsl(0, 0%, 12%),
                0 0 25px hsl(0, 0%, 12%);
}

/* -------------------------------------------*/
/* Mobile View Styles */
@media only screen and (max-width: 480px) {
    
}