/* Pricing Cards */
:root {
    --serif-font: 'Rangile', sans-serif;
    --sans-serif-font: 'Source Sans 3', sans-serif;
    --handwritten-font: 'Raqillas', sans-serif;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
