:root {
    --border-rad: 15px;
    --primary-color: #887C77;
    --primary-color-bold: #262321;
    --primary-color-soft: #C8C3C0;

    --secondary-colour: #7686B7;
    --secondary-colour-bold: #28324D;
    --secondary-colour-soft: #D0D6E6;

    --accent-color: #00EAFF;
    --accent-color-bold: #006C75;
    --accent-color-soft: #B8F9FF;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--accent-color-soft);
    background: linear-gradient(
        45deg,
        var(--accent-color-soft),
        var(--primary-color-soft)
    );
    background-attachment: fixed;
    min-height: 100vh;
}
#container {
    background-color: var(--secondary-colour-bold);
    min-width: 0;
    width: 95vw;
    max-width: 100vw;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    border-radius: var(--border-rad);
}
#top-text,
#top-brief {
    text-align: center;
    color: var(--secondary-colour-soft);
    margin: 0.7rem;
    font-family: "Play";
}
.cg {
    font-family: 'Consola Mono', Consolas, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    position: relative;
    margin: 15px;
}
.cg::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-colour-soft);
    width: 3px;
    height: calc(100% - 10%);
    top: 9px;
    bottom: 0;
    left :0;
}
.changelog {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    position: relative;
}
.changelog::before {
    content: "";
    background-color: var(--secondary-colour-soft);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 0;
    top: 5px;
    left: -3.5px
}
.changelog-date {
    font-style: italic;
    position: relative;
    font-size: 1.1rem;
    color: var(--primary-color-soft);
}
.changelog-content {
    margin-left: 15px;
    color: var(--accent-color-soft);
}



.ref-cta {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'DynaPuff', sans-serif;
    background-color: var(--accent-color-bold);
    border-radius: var(--border-rad);
    font-size: 0.9rem;
    width: 230px;
    padding: 15px;
    margin: 35px auto;
    border: 2px solid var(--accent-color);

    box-shadow: 5px 5px 10px var(--primary-color-bold),
                5px 5px 25px var(--primary-color-bold);
}
.ref-cta:active {
    transform: translate(5px, 5px);
}

/* Tablet ---> Desktop Styles  */
@media screen and (min-width: 786px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container {
        min-width: 50vw;
        width: 65vw;
        max-width: 65vw;
        margin: auto;
        padding-top: 50px;
    }
    .cg::before {
        left: 50%;
    }
    .changelog {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .changelog::before {
        left: calc(50% - 4px);
    }
    .changelog-date {
        flex: 1;
        font-size: 0.9rem;
        right: -30px;
    }
    .changelog-content {
        flex: 1;
        font-size: 0.9rem;
        margin-left: 30px;
    }
}

/* Desktop only styles */
@media screen and (min-width: 1024px) {
    #container {
        min-width: 40vw;
        width: 40vw;
        max-width: 65vw;
        height: auto;
        margin: 15px;
    }
}
