/* Mobile first */

/*
html {
    font-size: 75%;
}*/
:root {
    --border-rad: 15px;
    /* Our rule 60/30/10 */
    --primary-color: #DDDDCF;
    --secondary-color: #CFD6DD;
    --secondary-color-bold: #3e6082;
    --secondary-color-soft: #89afd6;

    --accent-color: hsl(270, 17%, 84%);
    --accent-color-bold: hsl(269, 23%, 46%);
    --accent-color-soft: hsl(271, 22%, 48%);
}
* {
    box-sizing: border-box;
    font-family: "Quicksand";
}
body {
    background-color: var(--primary-color);
    background-repeat: repeat;
    background-attachment: fixed;
    
}
h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
}
#pallete {
    background-color: var(--secondary-color);
    max-width: 95vw;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--accent-color-bold);
    border-radius: 25px;
}
#placeholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    color: var(--secondary-color-bold);
}
#placeholder-text {
    flex: 3;
    text-align: center;
    font-size: 1.9rem;
}
#placeholder-btn-icon {
    flex: 1;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}


/*-----------------*/
#calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    border: 1px solid var(--accent-color-bold);
    border-radius: 25px;
}
#calendar-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#month-selector {
    color: var(--secondary-color-bold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px 5px;
    font-weight: bolder;
}

#weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
    
}
.weekday {
    border-radius: 5px;;
    padding: 10px;
    background-color: var(--secondary-color-bold);
    color: var(--primary-color);
    font-style: italic;
}
#calendar-bottom {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    /*border: 1px solid;*/
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.date {
    padding: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.date.filled {
    background-color: var(--secondary-color-soft);
    color: black;
}
.date.empty {
    background-color: gray;
}
#today {
    animation: up-and-down 10s linear infinite;
    background-color: var(--accent-color-soft);
}
.ref-cta {
    display: block;
    text-decoration: none;
    color: white;
    background-color: var(--accent-color-bold);
    border-radius: var(--border-rad);
    text-align: center;
    width: 230px;
    padding: 15px;
    margin: 15px auto;
    border: 2px solid var(--secondary-color-soft);

    box-shadow: 5px 5px 10px hsl(0, 0%, 12%),
                5px 5px 25px hsl(0, 0%, 12%);
}
.ref-cta:active {
    transform: translate(5px, 5px);
}
@keyframes up-and-down {
    0%, 50%, 100% {
        transform: translateY(0);
        /* z-index: 1000;*/
    }
    25% {
        transform: translateY(-20%);
        /* z-index: 1000;*/
    }
    75% {
        transform: translateY(20%);
        /* z-index: 1000;*/
    }
}

@media screen and (min-width: 768px) {
    #pallete {
        max-width: 60vw;
    }
}