@import url("../fonts/fonts.css");

/* Photo Showcase */

*,
*::before,
*::after {
    box-sizing: border-box;
}
.showcase-font {
    font-family: 'amoera';
    font-weight: 900;
}
/* Add project styles below. */
