@import url('https://fonts.cdnfonts.com/css/friendly-robot');
@import url('https://fonts.cdnfonts.com/css/redgat');
@import url('https://fonts.cdnfonts.com/css/iowanoldst-bt');


:root {
    --color-1-soft: ;
    --color-1: #D0311E;
    --color-1-bold: #67170F;

    --color-2-soft: ;
    --color-2: ;
    --color-2-bold: ;

    --color-3-soft: ;
    --color-3: ;
    --color-3-bold: ;

    --font-1: 'FRIENDLY ROBOT', sans-serif;
    --font-1-hollow: 'FRIENDLY ROBOT-Hollow', sans-serif;
    --font-1-light: 'FRIENDLY ROBOT-Light', sans-serif;

    --font-2: 'Redgat', sans-serif;
    --font-3: 'IowanOldSt BT', sans-serif;

    --border-rad: 15px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
}
h1 {
    font-family: var(--font-1-hollow);
}


