/* Accordion */
@import url('https://fonts.cdnfonts.com/css/edu-sa-beginner');
@import url('https://fonts.cdnfonts.com/css/rogan');

:root {

    --font-1: 'Edu SA Beginner', sans-serif;
    --font-2: 'Rogan', sans-serif;
    --font-3: ;

    --border-rad: 15px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    background-color: wheat;
    color: black;
}
#proj-name,
#intro {
    text-align: center;
    margin: 5px;
    font-family: var(--font-2);
}
#container {
    min-width: 0;
    max-width: 90vw;
    margin: auto;
    border: 2px solid black;
    border-radius: var(--border-rad);
    padding: 8px;
}
#faq {
    margin: 5px 8px;
    font-size: 1.4rem;
}
#faq-intro {
    margin: 5px 8px;
}
#accordions {
    padding: 0.3rem;
    margin: 5px 0 15px 0;
}
.accordion {
    margin: 5px;
}
.qn-ans-container {
    /*border: 2px solid magenta;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.qn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: wheat;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.qn {
    flex: 9 0;
}
.bi {
    flex: 1;
    /*border: 2px solid cyan;*/

    display: flex;
    justify-content: flex-end;
}
.ans-container {
    border: 2px solid black;
    margin: 0.4rem 0 0.4rem 0;
    padding: 0.3rem;
    border-radius: 10px;
    display: none;
}
.ans {
    font-family: var(--font-1);
}
.ans-active {
    display: block;
}
.ref-cta {
    display: block;
    text-decoration: none;
    color: wheat;
    background: linear-gradient(
        45deg,
        rgb(36, 24, 1),
        rgb(23, 11, 11)
    );
    border-radius: var(--border-rad); text-align: center;
    width: 230px;
    padding: 15px;
    margin: 20px auto;

    box-shadow: 5px 5px 10px hsl(0, 0%, 12%),
                5px 5px 25px hsl(0, 0%, 12%);
}
.ref-cta:active {
    transform: translate(5px, 5px);
}
/*
.qn-container {
    position: relative;
}
.qn-container::after {
    top: 100%;
    position: absolute;
    content: "";
    border-top: 15px solid cyan;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
} */

/* Tablet screens */
@media only screen and (min-width: 480px) {
    #proj-name,
    #intro {
        text-align: center;
        margin: 10px;
    }
    #container {
        max-width: 60vw;
    }
}


/* Large screens */
@media only screen and (min-width: 1050px) {
    #container {
        max-width: 40vw;
    }
}

/* Extra-large screens */
@media only screen and (min-width: 1450px) {
    #container {
        max-width: 35vw;
    }
}