@import url("../fonts/fonts.css");

/* Restricted Textarea */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.newfont-1 {
    font-family: 'Hilsfiger';
}
.newfont-2 {
    font-family: 'Genos';
}
.newfont-3 {
    font-family: 'DynaPuff';
}
/* Add project styles below. */
